<h1>Why EventPin?</h1>
<div class="benefits">
  <mat-card class="item">
    <mat-icon class="icon">check_circle</mat-icon>
    <p>
      No more waiting for group admins, community leaders or others to create an
      event for you. With EventPin you create and join events anytime and
      anywhere <i>you</i> want!
    </p>
  </mat-card>
  <mat-card class="item">
    <mat-icon class="icon">check_circle</mat-icon>
    <p>
      No premium subscriptions. Enjoy the full set of features free of charge.
    </p>
  </mat-card>
  <mat-card class="item">
    <mat-icon class="icon">check_circle</mat-icon>
    <p>
      It's all about making going out as easy as possible for everyone.
      Hassle-free!
    </p>
  </mat-card>
  <mat-card class="item">
    <mat-icon class="icon">check_circle</mat-icon>
    <p>
      There are thousands of people like you who want to go out. EventPin is the
      place where you can find each other!
    </p>
  </mat-card>
  <mat-card class="item">
    <mat-icon class="icon">check_circle</mat-icon>
    <p>Going out for a walk is also an event. It shouldn't be complicated.</p>
  </mat-card>
</div>
