<div class="content">
  <div class="description">
    <h1 class="title">Download the app and create your first event!</h1>
    <button
      mat-button
      style="width: 200px; height: 54px"
      (click)="onAppleStoreClick()"
    >
      <a
        target="_blank"
        href="https://apps.apple.com/de/app/eventpin/id6449166469?l=en-GB"
        style="
          width: 200px;
          height: 54px;
          display: flex;
          justify-content: center;
        "
        ><img
          class="store-button"
          src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1675728000"
          alt="Download on the App Store"
          style="width: 81%"
      /></a>
    </button>
    <button
      mat-button
      style="width: 200px; height: 54px; margin-top: 5px"
      (click)="onGooglePlayStoreClick()"
    >
      <a
        target="_blank"
        href="https://play.google.com/store/apps/details?id=net.eventpin"
        ><img
          class="store-button"
          alt="Get it on Google Play"
          src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
      /></a>
    </button>
  </div>
  <ngx-slick-carousel
    style="flex: 1; max-width: 250px"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img class="phone" src="{{ slide.img }}" />
    </div>
  </ngx-slick-carousel>
</div>
