:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  .title {
    color: rgb(148, 148, 65);
    font-size: 80px;
    font-family: "AveriaGruesaLibre";
  }
}

.feature-image {
  max-width: 70%;
  border-radius: 50px;
  flex: 1;
  filter: drop-shadow(0mm 2mm 2mm rgb(50, 168, 82));
}

.play-store-link {
  display: flex;

  a {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 40%;
    }
  }
}

.screenshot-list-container {
  overflow-y: auto;

  .screenshot-list {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    margin: 0 auto;

    .screenshot {
      display: inline-block;
      margin: 0px 10px;
      max-width: 100%;

      img {
        filter: drop-shadow(1mm 2mm 2mm rgb(50, 168, 82));
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      max-height: 400px;
      max-width: 100%;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}