<div class="page-container">
  <mat-toolbar class="app-toolbar" color="primary">
    <a routerLink="/home"
      ><img class="logo" src="assets/eventpin-logo.png"
    /></a>

    <span class="title" routerLink="/home">EventPin</span>

    <span class="spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <ng-container *ngTemplateOutlet="menuItems"></ng-container>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column" autoFocus="false">
      <div fxLayout="column">
        <ng-container *ngTemplateOutlet="menuItems"></ng-container>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #menuItems>
  <button
    routerLink="/privacy-policy"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Privacy Policy
  </button>
  <button
    routerLink="/terms-of-service"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Terms of Service
  </button>
</ng-template>
