@import "../styles.scss";

:host {
  height: 100vh;
  background-color: rgba(151, 245, 151, 0.2);
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav {
  width: 200px;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-app-toolbar {
  z-index: 100;
  position: fixed;
  top: 0;

  .producthunt-banner {
    text-decoration: none;
    width: 100%;
    padding: 3px;
    background-color: rgb(249 250 251);
    font-size: 14px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

    .producthunt-button {
      background-color: rgb(249 115 22);
      color: white;
      font-size: 12px;
    }

    .arrow {
      width: 1.25rem;
    }
  }

  .producthunt-banner:hover {
    background-color: rgb(236, 238, 239);
  }

  .title {
    @extend .app-title;
    cursor: pointer;
    font-size: 40px;
    color: white;
  }

  a,
  .logo {
    height: 90%;
    margin-right: 10px;
  }
}

.menu-app-toolbar {
  display: flex;
  justify-content: center;
  a,
  .logo {
    height: 90%;
  }
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
  margin-top: 60px;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.social-link {
  font-size: 23px;
}
