<div class="page-container">
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      #sidenav
      fixedInViewport="true"
      fxLayout="column"
      autoFocus="false"
    >
      <div fxLayout="column">
        <mat-toolbar class="menu-app-toolbar" color="primary">
          <a routerLink="/home"
            ><img class="logo" src="assets/eventpin-logo.png"
          /></a>
        </mat-toolbar>
        <ng-container *ngTemplateOutlet="menuItems"></ng-container>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <div class="sidenav-content-wrapper" fxFlexFill fxShow fxFlex>
        <mat-toolbar class="main-app-toolbar mat-elevation-z6" color="primary">
          <a
            class="producthunt-banner"
            href="https://www.producthunt.com/posts/eventpin"
            target="_blank"
          >
            <button mat-button class="producthunt-button">ProductHunt</button>

            &nbsp;We are on Product Hunt &nbsp;
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="arrow"
            >
              <path
                fill-rule="evenodd"
                d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>

          <mat-toolbar-row>
            <a routerLink="/home"
              ><img class="logo" src="assets/eventpin-logo.png"
            /></a>

            <span class="title" routerLink="/home">EventPin</span>

            <span class="spacer"></span>

            <div fxShow="true" fxHide.lt-md="true">
              <ng-container *ngTemplateOutlet="menuItems"></ng-container>
            </div>

            <div fxShow="true" fxHide.gt-sm="true">
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
            </div>

            <ng-container *ngTemplateOutlet="socialLinks"></ng-container>
          </mat-toolbar-row>
        </mat-toolbar>
        <section class="content">
          <router-outlet></router-outlet>
        </section>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #socialLinks>
  <button mat-icon-button (click)="onSocialButtonClick('facebook')">
    <mat-icon class="social-link">facebook</mat-icon>
  </button>
  <button mat-icon-button (click)="onSocialButtonClick('instagram')">
    <mat-icon class="social-link" svgIcon="instagram"></mat-icon>
  </button>
</ng-template>

<ng-template #menuItems>
  <button
    routerLink="/privacy-policy"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Privacy Policy
  </button>
  <button
    routerLink="/terms-of-service"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Terms of Service
  </button>
  <button
    routerLink="/support"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    Support
  </button>
</ng-template>
