:host {
  height: 100vh;
  background-color: rgba(151, 245, 151, 0.2);
  // background-size: 15px 15px;
  // background-image: linear-gradient(
  //   to right,
  //   rgba(90, 188, 241, 0.52) 1px,
  //   transparent 1px
  // );
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav {
  width: 200px;
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-app-toolbar {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 999; /* Ensure that your app's content doesn't overlap the toolbar */

  .title {
    cursor: pointer;
  }

  a,
  .logo {
    height: 90%;
    margin-right: 10px;
  }
}

.menu-app-toolbar {
  display: flex;
  justify-content: center;
  a,
  .logo {
    height: 90%;
  }
}

.content {
  margin-top: 70px;
}
