<header>
  <span class="title">Privacy Policy</span>
</header>

<body>
  Welcome to the "Little Bee" game for Android. This is a closed source game available <a href="https://play.google.com/store/apps/details?id=com.little_bee&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">on Google Play</a>.
<br/>
<br/>
As an avid user of Android, I take privacy very seriously. I realize how hurtful it can be when the data is collected without consent. I don't approve of such practices.
<br/>
<br/>
Thus, I hereby state, that I have not programmed this game to collect or transfer any data from the user in any shape or form.
<br/>
<br/>
The game stores all the data it needs to operate on user's device. This stored data is the game's highest score. It is saved on user's device in a text file called scores.txt in a string format. It is needed such that the game can have the highest score saved even when the game is shutdown and restarted again.

The game uses internet access in only two instances:
<ul>
  <li>Retrieving advertisment content for the Ad banners supported by AdMob (the mobile advertising subsidiary of Google). Please note that I made sure to implement the app such that the Ads that are presented comply with Google Play's Families Policy as described here.</li>
  <br/>
  <li>Retrieving the Google Fonts it needs to use to display the app's text in a pleasant manner.
    If you have any concerns or questions about how the app protects your privacy, please send me an email and I will surely be happy to provide support.
    </li>
  </ul>



Best regards,
<br/>
Little Bee Dev
<br/>
Munich, Germany
<br/>
<a href = "mailto: littlebee.dev@gmail.com" target="_blank">littlebee.dev@gmail.com</a>
</body>