<h1>Privacy Policy</h1>

<p>
  This Privacy Policy describes how EventPin collects, uses, and discloses
  information when you use the EventPin mobile application ("App").
</p>

<h2>1. Information EventPin Collects</h2>

<h3>1.1 Location Information</h3>
<p>
  When you use the App, EventPin may collect your device's location information
  to provide you with location-based features, such as showing your location on
  the map, loading events in your area, and re-centering the map to your
  location. Please note that EventPin does not store your location information
  on EventPin backend servers, and it is not shared with any third parties.
</p>

<h3>1.2 Advertisements</h3>
<p>
  The App contains advertisements that are displayed to support the free
  availability of the App. These ads may be provided by third-party advertising
  networks or advertisers. Please be aware that these third parties may collect
  certain information about your interactions with the ads. This information is
  used for the purpose of delivering relevant ads and improving ad targeting.
  EventPin do not have access to or control over the data collected by
  third-party advertisers.
</p>

<h3>1.3 Photo Gallery Access</h3>
<p>
  In order for you to select a profile photo, the App may require access to your
  photo gallery. When you grant permission, EventPin will only access the
  necessary photos to allow you to choose a profile photo. The selected photo
  will be saved on backend servers solely for the purpose of displaying your
  profile photo within the App. EventPin does not share your photo with any
  third parties.
</p>

<h3>1.4 Your email address</h3>

<p>
  EventPin app also collects and saves your email address in the database upon
  sign-in. This is done to ensure smooth potential authentication provider
  migrations in the future and to potentially send you emails in case there are
  any important messages that need to be shared with you. Please be assured that
  your email address is treated confidentially and is not shared with any third
  parties
</p>

<h2>2. User Consent</h2>

<h3>2.1 Location and Photo Gallery Access</h3>
<p>
  For both location and photo gallery access, the App will always request your
  permission before accessing these features. You have the option to grant or
  deny permission within the App's settings. If you choose to deny permission,
  certain features of the App may not function properly.
</p>
<p>
  Please note that on iOS, the photo gallery widget operates independently of
  the app process, and the app itself does not have direct access to or
  visibility of the photos displayed in the widget. Access to photos is granted
  on a per-photo basis, meaning that when you select a specific photo, you are
  granting the app permission to access only that particular photo.
</p>

<h3>2.2 Push Notifications</h3>
<p>
  The App provides push notifications to keep you updated on various events,
  including new followers, replies to your comments, new comments on events you
  created, updates on events you're attending, and new events created by users
  you follow. To send you push notifications, EventPin will ask for your
  permission. You have the flexibility to enable or disable push notifications
  in the App's settings.
</p>

<h2>3. Data Security</h2>
<p>
  EventPin take reasonable measures to protect the information collected through
  the App from unauthorized access, disclosure, alteration, or destruction.
  However, please be aware that no method of transmission over the internet or
  electronic storage is 100% secure. Therefore, EventPin cannot guarantee
  absolute security of your information.
</p>

<h2>4. Updates to the Privacy Policy</h2>
<p>
  We may update this Privacy Policy from time to time. When we make material
  changes to the Privacy Policy, we will notify you through the App or by other
  means. By continuing to use the App after the Privacy Policy has been updated,
  you automatically agree to the revised Privacy Policy.
</p>
<p>
  If you do not agree with the updated Privacy Policy, please discontinue the
  use of the App.
</p>

<h2 id="account-deletion">5. Account deletion</h2>

<h3>5.1 Description</h3>
<p>
  You can delete your account at any time. Please note that before deleting your
  account, you must cancel all active events associated with your account. Once
  you delete your account, all of your personal data will be removed from our
  system, except for the events you have created and the comments you have made.
</p>
<p>
  In the event participants list, your profile image will be replaced with a
  placeholder and will not be tappable. In the event comments section, your
  username will be displayed as "[deleted]" and your profile picture will also
  be a placeholder, not tappable.
</p>

<h3>5.2 Steps</h3>
<ol>
  <li>
    Open the sidebar menu and tap on "My Profile" to open your User Profile
    page.
  </li>
  <li>In the top bar, you will see a 3-dot menu on the right. Tap on it.</li>
  <li>In the 3-dot menu, tap on "Delete Account".</li>
  <li>
    After tapping, a confirmation dialog will appear. Tap "Yes, delete my
    account".
  </li>
  <li>
    EventPin will attempt to delete your account. If you have created active
    events, you will be asked to first cancel them.
  </li>
  <li>After canceling all your active events, repeat steps 1, 2, 3, and 4.</li>
  <li>
    EventPin will start the deletion process. You will see a transparent loading
    screen saying "Deleting account...", in case the deletion process takes a
    longer time.
  </li>
  <li>
    Once the account deletion is complete, you will be logged out of your active
    session, and a success dialog confirming the account deletion will be shown.
  </li>
</ol>

<h2>6. Contact EventPin</h2>
<p>
  If you have any questions or concerns about this Privacy Policy or EventPin's
  data practices, please contact EventPin at
  <a href="events@eventpin.net">events@eventpin.net</a>.
</p>

<p>
  By using the EventPin App, you acknowledge and consent to the collection, use,
  and disclosure of your information as described in this Privacy Policy.
</p>

<p>
  This Privacy Policy was last updated on Thursday, 22 June 2023 (CEST), 22:04.
</p>
