<h1>How?</h1>
<div class="content">
  <mat-card class="card">
    <mat-card-title class="title"
      ><span class="icon">📅</span> Create</mat-card-title
    >
    <mat-card-content
      >Create an event on the Emoji Map and have a great time.
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="title"
      ><span class="icon">🔍</span> Find</mat-card-title
    >
    <mat-card-content
      >Discover exciting events near you on the Emoji Map and never miss out on
      the fun.</mat-card-content
    >
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="title"
      ><span class="icon">🚀</span> Join</mat-card-title
    >
    <mat-card-content
      >Did you create an event? Or did you find an event that caught your eye?
      Join it together with others and have fun.</mat-card-content
    >
  </mat-card>
</div>
