:host {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10%;
  margin-right: 10%;

  //   for some reason the content gets clipped at the bottom in android browsers, so added a padding
  padding-bottom: 60px;
}
