
<h1>Terms of Service</h1>

<p>These Terms of Service ("Terms") regulate your usage and access to the EventPin website, apps, and APIs. We kindly ask you to review these Terms thoroughly and reach out to EventPin if you have any inquiries. By accessing or utilizing EventPin, you signify your acceptance and agreement to comply with these Terms, EventPin Privacy Policy, and EventPin Community Guidelines.</p>

<h2>1. About EventPin</h2>

<p>EventPin is designed to help you connect with like-minded individuals and participate in activities you enjoy. With EventPin, you can effortlessly create your own events or join events organized by others. Discovering events in any location is made easy through the interactive map feature. Additionally, you can follow other users and engage in conversations through the event comment section.

    To ensure that EventPin remains accessible to all users free of charge, some content displayed may include advertisements. Our aim is to provide relevant ads that enhance, rather than disrupt, your overall user experience. While we strive to deliver tailored advertisements, we cannot guarantee their relevance in every instance.
    
    Join EventPin today and embark on a journey of shared experiences, meeting new people, and exploring exciting activities together. </p>

<h2>2. Using EventPin</h2>

<h3>2.1 Target Audience</h3>

<p>You may use EventPin only if you can legally enter into a binding contract with EventPin and comply with these Terms and all applicable laws. Access to or use of EventPin by anyone under the age of 18 is prohibited. If you are located in the European Economic Area (EEA), you may only use EventPin if you have reached the age at which you can provide consent to the processing of personal data as required by the laws of your country. By using EventPin, you may need to download software to your computer, phone, tablet, or other devices. You acknowledge and agree that EventPin may automatically update such software, and these Terms will govern any updates.</p>

<h3>2.2 EventPin license</h3>

<p>Subject to these Terms and EventPin policies, including the EventPin Community Guidelines, EventPin grants you a limited, non-exclusive, non-transferable, and revocable license to access and use the EventPin Service.</p>

<h2>3. Your content</h2>

<h3>3.1 Posting content</h3>

<p>EventPin allows you to post various types of content, such as event details, comments, links, and other materials. All content that you post or make available on EventPin is collectively referred to as 'User Content'. You retain all rights to your User Content and are solely responsible for the content you post on EventPin.</p>

<h3>3.2 Rights and Usage of User Content</h3>

<p>By using EventPin, you grant EventPin and its users a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, store, display, reproduce, modify, create derivative works, and distribute the content you post on EventPin. This license is granted solely for the purposes of operating, developing, providing, and improving EventPin. You retain all ownership rights to your User Content, and nothing in these Terms restricts any other legal rights EventPin may have to your User Content. EventPin reserves the right to remove or modify User Content that violates these Terms or any other applicable policies. Please note that any such removal or modification does not affect EventPin's rights to your User Content under this license or any other licenses you may have granted. EventPin's goal is to ensure the proper functioning of EventPin while respecting your rights as the content creator.</p>

<h3>3.3 Retention of User Content</h3>

<p>Even in case of termination or deactivation of your account, EventPin may keep your User Content for a reasonable period of time for backup, archival, or audit purposes. EventPin and other users may still use, store, display, reproduce, modify, create derivative works, and distribute your User Content.</p>

<h3>3.4 User Feedback</h3>

<p>EventPin is always looking for ways to improve EventPin. New ideas, feedback or comments may be submitted by you, via any means. You agree that EventPin is free to use them without restriction and compensation to you. By accepting your submission, EventPin doesn’t waive any rights to use similar or related feedback previously known to EventPin or obtained from sources other than you.</p>

<h2>5. Security</h2>

<p>While EventPin prioritizes user security and takes measures to safeguard user information, it cannot provide an absolute guarantee of protection in all circumstances. EventPin implements security measures and follows industry standards to mitigate risks and protect user data. However, it is important to acknowledge that no system or technology is completely immune to vulnerabilities or malicious activities. You should also take your own precautions, such as using strong passwords, practicing safe browsing habits, and being mindful of sharing personal information. By using EventPin, you acknowledge and understand that while efforts are made by EventPin to ensure security, there may be inherent risks associated, and you agree to use the service at your own discretion and responsibility.</p>

<h2>6. Third party links, sites, and services</h2>

<p>EventPin may contain links, references, or content that are owned or provided by third parties. These could be in the form of external websites, pages, objects, or other resources. Please note that EventPin does not have control over, endorse, or assume any responsibility for the content, accuracy, legality, or availability of these third-party resources.

You understand and acknowledge that when you access or interact with such third-party content, it is at your own risk. EventPin cannot be held liable for any damages, losses, or harm arising from your use of, reliance on, or interaction with third-party content or resources.

It is important that you review and understand the terms, conditions, and privacy policies of these third-party websites or resources before engaging with them. EventPin does not endorse or guarantee the accuracy, relevance, or quality of any third-party content, and your engagement with such content is solely at your discretion.

Please exercise caution and use your own judgment when accessing or interacting with any third-party content or resources linked to or referenced on EventPin. EventPin encourages you to take appropriate measures to ensure your own safety and security when navigating external websites or engaging with third-party content.</p>

<h2>7. User Responsibility for Copyrighted Content </h2>

<p>You are solely responsible for the content you post on EventPin, and you agree not to post any content that infringes the intellectual property rights of any third party. This includes, but is not limited to, copyright infringement.

EventPin does not actively monitor or control the content posted by users, and EventPin cannot guarantee the authenticity, originality, or legality of the content. Therefore, you understand and acknowledge that if you post any content that infringes the copyright of a third party, you do so at your own risk and EventPin cannot be held liable for any resulting claims, damages, or legal actions.

It is your responsibility to ensure that you have the necessary rights, permissions, or licenses to use and post any content on EventPin. We encourage you to respect the intellectual property rights of others and to promptly remove any infringing content if you become aware of it.

If you believe that your copyright or intellectual property rights have been infringed upon by any content on EventPin, please contact EventPin promptly so that we can take appropriate action.</p>

<h2>8. Termination</h2>

<p>EventPin takes the adherence to its rules and policies seriously to ensure a safe and enjoyable experience for all users. In the event of a violation of these Terms or any applicable policies, EventPin reserves the right to suspend or terminate your account. Such violations may include, but are not limited to, engaging in prohibited activities, posting inappropriate content, violating the rights of others, or any other behavior that compromises the integrity of the EventPin community.

Please be aware that account suspension is a measure taken to enforce compliance and maintain the quality of our platform. EventPin will exercise this right judiciously, and in cases where a suspension is deemed necessary, we will make reasonable efforts to provide prior notice or communicate the reasons for the suspension. However, EventPin retains the discretion to suspend an account without prior notice in situations where immediate action is required to protect the community or address serious violations.

It is essential that you familiarize yourself with our rules and guidelines to avoid any actions that may result in account suspension. By using EventPin, you acknowledge and agree that EventPin may suspend or terminate your account if you fail to comply with these Terms or violate any of our policies.

Please remember that account suspension is a serious matter, and we encourage you to reach out to us if you have any questions or concerns regarding your account status or any actions that may lead to suspension.</p>

<h2>9. Disclaimers</h2>

<h3>9.2 Liability and User-Generated Content</h3>

<p>EventPin is an open platform where users can share event-related information and interact with each other.
While EventPin strives to maintain a safe and respectful environment, it is possible that some content on EventPin may be inappropriate, offensive, or objectionable.
You are encouraged to report any content you find inappropriate or offensive, and EventPin reserves the right to remove or moderate such content at its discretion.
EventPin shall not be held liable for any damages or harm resulting from the exposure to or interaction with such content on the platform.

EventPin does not guarantee the accuracy, completeness, or reliability of any data or information provided by users of the app.
Users are solely responsible for the content they post, including event details, descriptions, comments, and any other user-generated content.
EventPin assumes no liability for any user-provided data, including but not limited to its accuracy, legality, or appropriateness.</p>

<h3>9.2 Liability for Events</h3>

<p>EventPin acts solely as a platform for users to create and discover events. EventPin does not organize or control the events listed on my platform. Therefore, EventPin assumes no liability for any actions, omissions, or incidents that may occur during these events. By using EventPin, you acknowledge and agree that:</p>

<ol>
<li>EventPin does not endorse or guarantee the accuracy, safety, legality, or quality of any event listed on the platform.</li>
<li>You participate in events at your own risk, and you are solely responsible for assessing the risks associated with attending or participating in any event.</li>
<li>EventPin shall not be liable for any damages, losses, injuries, or claims arising from your participation in events listed on the platform.</li>
<li>You release EventPin and anyone that participates and will participate in its development from any liability for any harm, damage, or loss incurred during events or as a result of your interaction with other users.</li>
</ol>

<h2>10. General terms</h2>

<h3>10.1 Notification procedures and changes to these Terms</h3>

<p>EventPin reserves the right to modify or update the Terms of Service at any time. Any changes will become effective upon their publication. EventPin may choose various means to communicate these changes, such as providing notice through the app, website, or other communication channels. By continuing to use EventPin after the revised Terms of Service have been posted, you automatically accept the updated terms. If you do not agree with the revised Terms of Service, it is important to discontinue the use of EventPin. We recommend reviewing the Terms of Service periodically to stay informed about any updates or modifications.</p>

<h2>Waiver and Non-Enforcement Clause</h2>

<p>Failure by EventPin to enforce any provision of these Terms or assert any right or provision shall not be deemed as a waiver of such provision or right. In other words, if EventPin chooses not to enforce a specific term or right in these Terms at any given time, it does not mean that EventPin is waiving that term or right permanently. EventPin retains the right to enforce any provision or assert any right under these Terms in the future, as deemed necessary or appropriate.</p>

<h2>Parties</h2>

<p>These Terms are a contract between you and EventPin.</p>

<footer>Effective June 1, 2023</footer>