<header>
  <span class="title">Little Bee</span>
</header>

<img class="feature-image" src="assets/feature-graphic.png" />
<div class="play-store-link">
  <a
    target="_blank"
    href="https://play.google.com/store/apps/details?id=com.little_bee&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
    ><img
      alt="Get it on Google Play"
      src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
  /></a>
</div>

<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/y5LVd2PzCLg"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>

<div class="screenshot-list-container">
  <div class="screenshot-list">
    <div class="screenshot">
      <img src="assets/screenshots/flutter_01.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/flutter_02.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/flutter_03.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/flutter_04.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/flutter_05.png" />
    </div>
  </div>
</div>

<footer>
  <span routerLink="/privacy-policy">Privacy Policy</span>
</footer>
