<header>
  <span class="title">Little Bee</span>
</header>

<img class="feature-image" src="assets/feature-graphic.png" />
<div
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
  "
>
  <a
    (click)="onAppleAppStoreClick()"
    target="_blank"
    href="https://apps.apple.com/us/app/little-bee/id1669580633?itsct=apps_box_badge&amp;itscg=30200"
    style="width: 300px; display: flex; justify-content: center"
    ><img
      class="store-button"
      src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1675728000"
      alt="Download on the App Store"
      style="width: 81%"
  /></a>
  <a
    (click)="onGooglePlayClick()"
    style="width: 300px"
    target="_blank"
    href="https://play.google.com/store/apps/details?id=com.little_bee&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
    ><img
      class="store-button"
      alt="Get it on Google Play"
      src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
  /></a>
</div>

<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/y5LVd2PzCLg"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>

<div class="screenshot-list-container">
  <div class="screenshot-list">
    <div class="screenshot">
      <img src="assets/screenshots/start-page.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/game-started.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/game-in-progress.png" />
    </div>
    <div class="screenshot">
      <img src="assets/screenshots/game-over.png" />
    </div>
  </div>
</div>

<footer>
  <span routerLink="/privacy-policy">Privacy Policy</span>
</footer>
